
/**
* This file is the principle css file of the page
* @author: @GwladysKelodjou
*/

/* Font-family import */

@font-face {
  font-family: "BeVietnam-Regular";
  src: url("../fonts/BeVietnam-Regular.ttf");
}
@font-face {
  font-family: "BeVietnam-Medium";
  src: url("../fonts/BeVietnam-Medium.ttf");
}
@font-face {
  font-family: "BeVietnam-Bold";
  src: url("../fonts/BeVietnam-Bold.ttf");
}
@font-face {
  font-family: "BeVietnam-Light";
  src: url("../fonts/BeVietnam-Light.ttf");
}
@font-face {
  font-family: "BeVietnam-SemiBold";
  src: url("../fonts/BeVietnam-SemiBold.ttf");
}
@font-face {
  font-family: "BeVietnam-ExtraBold";
  src: url("../fonts/BeVietnam-ExtraBold.ttf");
}

body {
  font-family: "BeVietnam-Regular";
  font-size: 19px;
  font-weight: 400;
  /* color: hsl(227, 12%, 61%); */
  color: #272829;
  text-align: justify;
  /* padding: 0 2em; */
  /* width: 95%; */
}

/* body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
} */

a {
  color: #149ddd;
  text-decoration: none;
}

a:hover {
  color: #37b3ed;
  text-decoration: none;
}

/* Titles */
h1,h2,h3,h4,h5,h6 {
  font-weight: 600;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
} */

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #149ddd;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #2eafec;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 305px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 40px;
  background: #040b14;
  overflow-y: auto;
}

#header .profile img {
  margin: 15px auto;
  display: block;
  width: 140px;
  border: 8px solid #2c2f3f;
}

#header .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}

#header .profile h1 a,
#header .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .profile .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#header .profile .social-links a:hover {
  background: #149ddd;
  color: #fff;
  text-decoration: none;
}

#main {
  margin-left: 300px;
}

.container,
.container-fluid {
  padding-left: 60px;
  padding-right: 60px;
}


@media (max-width: 1199px) {
  #header {
    left: -300px;
  }

  #main {
    margin-left: 0;
  }

  .container,
  .container-fluid {
    padding-left: 12px;
    padding-right: 12px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
  padding: 30px 0 0 0;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 17px;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  text-decoration: none;
  color: #fff;
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover>a i {
  color: #149ddd;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  background-color: #149ddd;
  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 3em 0;
  overflow: hidden;
}

.section-bg {
  /* background: #f5f8fd; */
  background: #f8f9fa;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #173b6c;
  font-family: "BeVietnam-Bold";
  text-transform: uppercase;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #149ddd;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.about h1 {
  /* font-weight: 700; */
  font-family: "BeVietnam-Bold";
  font-size: 3em;
  color: #173b6c !important;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #149ddd;
  line-height: 0;
}

.about .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Keywords
--------------------------------------------------------------*/

.keywords-wrapper {
  display: flex;
  align-items: center; 
  gap: 10px; 
  flex-wrap: wrap; 
}

.keywords-container {
  text-align: left; 
  display: flex; 
  flex-wrap: wrap;
  gap: 6px; 
}

.keyword {
  display: inline-block;
  padding: 4px 10px;
  font-size: 16px;
  font-weight: 500;
  color: #555;
  border: 2px solid #ccc;
  border-radius: 9px;
  background-color: white;
  white-space: nowrap;
}

/*-------------------
# Education
---------------------*/

.about .education {
  padding-top: 3em;
  position: relative;
}

.about .education-title {
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 1em ;
  font-size: 1.6em;
  font-weight: 700;
  color: #214d8b;
}


.about .education-item {
  padding: 0 0 40px 25px;
  margin-top: -2px;
  margin-left: 30px;
  border-left: 3px solid #1f5297;
  position: relative;
}

.about .education-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  font-size: 1em;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #050d18;
  margin-bottom: 10px;
}

.about .education-item h5 {
  font-size: 16px;
  background: #e4edf9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}
.education .university
{
  font-style: italic;
  color: #555;
  font-size: 1em;
  margin-bottom: 10px;
} 

.about .education-item .description {
  margin-top: .7em;
}

.about .education-item:last-child {
  padding-bottom: 0;
}

.about .education-item::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #1f5297;
}

/*--------------------------------------------------------------
# Publications
--------------------------------------------------------------*/

.publications-content {
  padding-left: 20px;
}

.publications .where {
  text-align: right;
  font-size: 1.2em;
  color: #149ddd;
  font-weight: bold;
}

.publications h4 {
  font-size: 1.2em;
  margin-bottom: 0.8em;
  font-family: "BeVietnam-Bold";
}
.publications strong {
  font-family: "BeVietnam-Bold";
}
.publications .availability a {
  border-radius: 8px !important;
  font-size: .9em;
  border-color: #1f5297;
  color: #1f5297;
  
}
.publications .availability a:hover {
  background-color: #1f5297;
  border-color: #333;
  color: white;
}

/*--------------------------------------------------------------
# Teaching
--------------------------------------------------------------*/

.teaching-content {
  padding-left: 20px;
}
.course {
  margin-bottom: 2.5em;
}
.course-item {
  margin-left: 30px;

}
.course-title {
  /* color: darkred !important; */
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 1em;
}

.course-info{
  /* width: 70%; */
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  /* margin-left: 30px; */
}

.course-info i {
  font-size: 1em;
  margin-right: 5px;
}


.course-details .course-hours {
  font-family: "BeVietnam-Bold";
}
.course-details .course-description span{
  font-weight: bold;
}

/*--------------------------------------------------------------
# Talks
--------------------------------------------------------------*/

.talk-info {
  /* width: 40%; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-between; */
  gap: 10px;
  margin-left: 30px;
}
.talk-info i {
  font-size: 1em;
  margin-right: 8px;
}

.talk-title h4 {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 1em;
}
.talk-title p {
  margin-left: 30px;
}
.talk-title p span{
  font-weight: bold;
}
.talk {
  margin-bottom: 1.5em;
}

.talks-content {
  margin-left: 30px !important;
}


/*--------------------------------------------------------------
# Dissemination
--------------------------------------------------------------*/

.dissemination .dissemination-content{
  margin-left: 30px;
}

.dissemination .dissemination-content h3 {
  font-weight: 700;
  /* margin-top: 20px; */
  margin-bottom: 1em ;
  font-size: 1.6em;
  font-weight: 700;
  color: #214d8b;
}

.dissemination .services {
  margin-bottom: 3em;
}

.dissemination .outreach-content {
  margin-left: 15px;
}

.outreach-content h4 {
  font-weight: 500;
  font-size: 1em;
  margin-bottom: 1em;
  margin-top: 0;
}

.dissemination .outreach-content .outreach-list {
  list-style: none;
  padding: 0;
}

.dissemination .outreach-content .outreach-list > li {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 1em;
}

.dissemination .outreach-content .outreach-list i {
  font-size: 16px;
  margin-right: 5px;
  color: #149ddd;
  line-height: 1;
  margin-top: 5px;
  font-weight: bold;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact-content {
  margin-left: 30px;;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding: 15px;
  color: #f4f6fd;
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 9999;
  background: #040b14;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #eaebf0;
}

@media (max-width: 1199px) {
  #footer {
    position: static;
    width: auto;
    padding-right: 20px 15px;
  }
}